html {
  background-color: #E6E6FA;
}

.App {
  margin: 50px;
}

h1 {
  text-align: center;
}

.item-label {
  margin: 10px;
  font-size: 18px;
}

.add-label {
  font-size: 25px;
  margin-left: 4px;
}

input[type="checkbox"] {
  width: 15px;                         /* Set width */
  height: 15px;                        /* Set height */
}

input[type="text"] {
  font-size: 18px;
}

#new-item-input {
  margin-left: 9px;
}

.item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.new-item {
  height: fit-content;
}

.disappear {
  display: none;
}

#behind-popup {
  background-color: #E6E6FA;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  /* display: none; TODO: remove */
}

#popup {
  background-color: white;
  height: 75%;
  width: 75%;
  position: absolute;
  top: 12.5%;
  left: 12.5%;
  text-align: center;
  box-sizing: border-box;
  padding-top: 20%;
}

.login-fields {
  width: max-content;
  margin-bottom: 18px;
}

#login-submit {
  align-self: center;
  font-size: 18px;
}

#user-info {
  text-align: center;
  position: absolute;
  top: 80%;
  left: 0%;
  width: 100%;
}

#signup-question {
  margin: 20px;
}

button {
  color: black;
}